﻿@model WebApp.Models.Bidding
<!-- begin master section -->
<div  class="main-form">
<!--begin bidding form  -->
<form id="bidding_form" method="post" novalidate="novalidate" >
@Html.AntiForgeryToken()
   @Html.HiddenFor(x=>x.Id)
 <fieldset>
 <div class="form-group form-group-sm">
      <div class="row">

       <!--投标时间-->
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.BiddingDate)</span> </label>
            <div class="input-group">
			  @Html.EditorFor(x => x.BiddingDate, 
                         new { htmlAttributes = new { @class = "form-control datepicker hasDatepicker",
                               placeholder = Html.DisplayNameFor(x => x.BiddingDate ) } })
               <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 </div>
         </div>

        <!--状态-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Status)</span> </label>
			@Html.EditorFor(x => x.Status, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Status) } })
      
         </div>

        <!--采购单号-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.PO)</span> </label>
			@Html.EditorFor(x => x.PO, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.PO) } })
      
         </div>

       <!--要求到货日期-->
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.DemandedDate) </label>
            <div class="input-group">
			  @Html.EditorFor(x => x.DemandedDate, 
                         new { htmlAttributes = new { @class = "form-control datepicker hasDatepicker",
                               placeholder = Html.DisplayNameFor(x => x.DemandedDate ) } })
               <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 </div>
         </div>

        <!--序号-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.LineNum)</span> </label>
			@Html.EditorFor(x => x.LineNum, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.LineNum) } })
      
         </div>

        <!--货号-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.ProductNo) </label>
			@Html.EditorFor(x => x.ProductNo, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ProductNo) } })
      
         </div>
	   </div>
    </div>
 <div class="form-group form-group-sm">
      <div class="row">

        <!--品名-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.ProductName)</span> </label>
			@Html.EditorFor(x => x.ProductName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ProductName) } })
      
         </div>

        <!--规格-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.Spec) </label>
			@Html.EditorFor(x => x.Spec, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Spec) } })
      
         </div>

        <!--品牌-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.BrandName) </label>
			@Html.EditorFor(x => x.BrandName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.BrandName) } })
      
         </div>

        <!--单位-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.Unit) </label>
			@Html.EditorFor(x => x.Unit, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Unit) } })
      
         </div>

		<!--数量-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.Qty)</span> </label>
            @Html.EditorFor(x => x.Qty, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.Qty) } })

        </div>

		<!--出价-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.BiddingPrice)</span> </label>
            @Html.EditorFor(x => x.BiddingPrice, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.BiddingPrice) } })

        </div>
	   </div>
    </div>
 <div class="form-group form-group-sm">
      <div class="row">

		<!--总价-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.TotalPrice)</span> </label>
            @Html.EditorFor(x => x.TotalPrice, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.TotalPrice) } })

        </div>

        <!--参数-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.Feature) </label>
			@Html.EditorFor(x => x.Feature, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Feature) } })
      
         </div>

        <!--备注-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.Description) </label>
			@Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Description) } })
      
         </div>

        <!--业务联系人-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.Buyer) </label>
			@Html.EditorFor(x => x.Buyer, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Buyer) } })
      
         </div>

        <!--联系人电话-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.BuyerPhone) </label>
			@Html.EditorFor(x => x.BuyerPhone, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.BuyerPhone) } })
      
         </div>

        <!--出价人-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.UserName) </label>
			@Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.UserName) } })
      
         </div>
	   </div>
    </div>
 <div class="form-group form-group-sm">
      <div class="row">

		<!--供应商ID-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.SupplierId)</span> </label>
            @Html.EditorFor(x => x.SupplierId, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.SupplierId) } })

        </div>

        <!--供应商-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.SupplierName) </label>
			@Html.EditorFor(x => x.SupplierName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.SupplierName) } })
      
         </div>

        <!--询价单号-->
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label">@Html.DisplayNameFor(model => model.DocNo) </label>
			@Html.EditorFor(x => x.DocNo, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.DocNo) } })
      
         </div>

     
       <!--采购单-->
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <label class="control-label"><span class="required">@Html.DisplayNameFor(model => model.PurchaseOrderId)</span> </label>
   	        @Html.DropDownListFor(model => model.PurchaseOrderId, ViewBag.PurchaseOrderId as List<SelectListItem>, htmlAttributes: new { @class = "form-control" }) 
       </div>
	    
   </div>
  </div>
</fieldset>
</form>
<!-- end bidding form  -->
</div>

<!-- end master section -->
<!--========================================================================================-->

