﻿@model WebApp.Models.Contact
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin contact form  -->
<form id="contact_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
			              <!--联系人名称-->
            <section class="col col-6">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Name)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Name)
            </label>
            </section>
 		 
	    
			              <!--联系电话-->
            <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.PhoneNumber) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.PhoneNumber)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			              <!--微信-->
            <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.WeChat) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.WeChat)
            </label>
            </section>
 		 
	    
			              <!--其它-->
            <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Other) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Other)
            </label>
            </section>
 		 
	   </div>
	    
	    
</fieldset>
</form>
<!-- end contact form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->


