@model WebApp.Models.AccountRegistrationModel
@{
  ViewBag.PageId = "extr-page";
}

@section topright{
  <span id="extr-page-header-space"> <span class="hidden-mobile">已经注册?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">登 录</a> </span>
}

<div id="content" class="container">
  <div class="row">
    @{ Html.RenderPartial("_LoginText"); }
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <section class="well no-padding" style="display:none">
        <form action="@Url.Action("register", "account")" method="POST" id="smart-form-register" class="smart-form client-form">
          <header>
            注册
          </header>
          @Html.AntiForgeryToken()
          @Html.ValidationBootstrap()
          <fieldset>
            <section>
              <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input type="text" name="username" placeholder="用户名" id="username" autocomplete="off" value="@Model.Username">
                <b class="tooltip tooltip-bottom-right">(Optional) Used to display the profile name on the website</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-envelope"></i>
                <input type="email" name="email" placeholder="电子邮件" id="email" autocomplete="off" value="@Model.Email">
                <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
              </label>
            </section>
            @*<section>
                  <label class="input">
                      <i class="icon-append fa fa-envelope"></i>
                      <input type="email" name="emailConfirm" placeholder="Confirm email address" autocomplete="off" value="@Model.EmailConfirm">
                      <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                  </label>
              </section>*@
            <section>
              <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" name="password" placeholder="密码" id="password" autocomplete="off">
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" name="passwordConfirm" placeholder="确认密码" autocomplete="off">
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
              </label>
            </section>
          </fieldset>
          <fieldset>
            <div class="row">
              <section class="col col-6" >
                <label class="input">
                  <input type="text" name="fullName" autocomplete="off" placeholder="中文名">
                  <b class="tooltip tooltip-bottom-right">(Optional) Used to display the profile name on the website</b>
                </label>
              </section>
              <section class="col col-6">
                <label class="input">
                  <i class="icon-append fa fa-phone"></i>
                  <input type="text" name="phoneNumber" placeholder="联系电话">
                </label>
              </section>
              
            </div>
            <section>


              <label class="select">
                @Html.DropDownListFor(model => model.TenantId, new SelectList(ViewBag.companylist, "Value", "Text")) <i></i>
              </label>
              <input hidden id="companyName" name="companyName" type="text" value="@Model.CompanyName" />

            </section>
            
            <section>
              <label class="checkbox">
                <input type="checkbox" name="terms" id="terms">
                <i></i>我同意
              </label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">
              注册
            </button>
          </footer>
          <div class="message">
            <i class="fa fa-check"></i>
            <p>
              Thank you for your registration!
            </p>
          </div>
        </form>
      </section>
    </div>

  </div>

</div>



@section pagespecific{
 
  <script src="~/Scripts/plugin/jquery-validate/jquery.validate.min.js"></script>
  <script type="text/javascript">
    $('html').removeClass(['fixed-header', 'fixed-navigation']);
    $('body').removeClass(['fixed-header', 'fixed-navigation']);
    $('.well').show();
    $('.well').addClass(['animated', 'flipInY']);
    function removejscssfile(filename, filetype) {
      var targetelement = (filetype == "js") ? "script" : (filetype == "css") ? "link" : "none" //determine element type to create nodelist from
      var targetattr = (filetype == "js") ? "src" : (filetype == "css") ? "href" : "none" //determine corresponding attribute to test for
      var allsuspects = document.getElementsByTagName(targetelement)
      for (var i = allsuspects.length; i >= 0; i--) { //search backwards within nodelist for matching elements to remove
        if (allsuspects[i] && allsuspects[i].getAttribute(targetattr) != null && allsuspects[i].getAttribute(targetattr).indexOf(filename) != -1)
          allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
      }
    }
    removejscssfile("~/Scripts/smartadmin.min.js", "js")
  
    // Model i agree button
    //$("#i-agree").click(function () {
    //    var $this = $("#terms");
    //    if ($this.checked) {
    //        $('#myModal').modal('toggle');
    //    } else {
    //        $this.prop('checked', true);
    //        $('#myModal').modal('toggle');
    //    }
    //});
    $('#TenantId').change(function () {
      var text = $('#TenantId').find('option:selected').text();
      $('#companyName').val(text);
      //console.log(text);
    })
    var errorClass = 'invalid';
    var errorElement = 'em';
    // Validation
    $(function () {
      $(".tooltip").tooltip();

      // Validation
      $("#smart-form-register").validate({
        errorClass: errorClass,
        errorElement: errorElement,
        highlight: function (element) {
          $(element).parent().removeClass('state-success').addClass("state-error");
          $(element).removeClass('valid');
        },
        unhighlight: function (element) {
          $(element).parent().removeClass("state-error").addClass('state-success');
          $(element).addClass('valid');
        },
        // Rules for form validation
        rules: {
          email: {
            required: true,
            email: true
          },
          //emailConfirm: {
          //    required: true,
          //    email: true,
          //    equalTo: '#email'
          //},
          username: { required: true },
          TenantId: { required: true },
          phoneNumber: { required: true, tel:true },
          password: {
            required: true,
            minlength: 4,
            maxlength: 20
          },
          passwordConfirm: {
            required: true,
            minlength: 4,
            maxlength: 20,
            equalTo: '#password'
          },
          fullName: {
            required: true
          },
          terms: {
            required: true
          }
        },

        // Messages for form validation
        messages: {
          email: {
            required: 'Please enter your email address',
            email: 'Please enter a VALID email address'
          },
          fullName: {
            required: '请输入中文名'
          },
          //emailConfirm: {
          //    required: 'Please enter your email address one more time',
          //    email: 'Please enter a VALID email address',
          //    equalTo: 'Please enter the same email address as above'
          //},
          phoneNumber: {
            required: '请输入联系电话',
            tel: '手机号:13/15/18xxxxxxxxx</br>电话:区号-电话号-分机号'
          },
          TenantId: { required: 'Please enter your Company Id'},
          username: {
            required: 'Please enter your name'
          },
          password: {
            required: 'Please enter your password'
          },
          passwordConfirm: {
            required: 'Please enter your password one more time',
            equalTo: 'Please enter the same password as above'
          },
          terms: {
            required: 'You must agree with Terms and Conditions'
          }
        },

        // Do not change code below
        errorPlacement: function (error, element) {
          error.insertAfter(element.parent());
        }
      });
    });



    $.validator.addMethod('tel', function (value) {
      return /(^(\d{3}-|\d{4}-)?(\d{8}|\d{7})?(-\d{1,6})?$)|(^(?:13\d|15\d|18\d)-?\d{5}(\d{3}|\*{3})$)/.test(value);
    }, '电话号码输入规则:</br>手机号:13/15/18xxxxxxxxx</br>电话号:区号-电话号-分机号</br>(分机号/区号可选填).');
  </script>
}